* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.grid {
    display: flex;
}

.col {
    flex: 1 1 0;
}

.col div {
    background: peachpuff;
    border: thin solid brown;
    aspect-ratio: 1/1;
}

